* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}
a {
    text-decoration: none;
}
h2,h3 {
    color: rgba(0,0,0,.8);
}
.btn {
    padding: 10px 30px; 
    border-radius: 3px;
}
.btn-primary {
    background-color: #0d98ce;
    border:1px solid #0d98ce;
    color: #fff;
}
.btn-secondary {
    background-color: #46cc6e;
    border:1px solid #46cc6e;
    color: #fff;
}
body {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    line-height: 1.8;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.main-header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul,
.menu li {
    display: flex;
    list-style: none;
}
.menu li a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
    color: #000;
}
.menu li a:hover,
.menu .current-menu-item a {
    color: #1099D0;
}

/* Banner */

.banner {
    display: flex;
    height: calc(100vh - 100px);
    background-image: url('../images/bg_1.jpg');
    background-size: cover;
    background-position: center;
}
.content-banner {
    max-width: 50%;
}
.content-banner h2,
.content-banner h1 {
    margin-bottom: 15px;
}
.content-banner p {
    margin-bottom: 25px;
}
.content-banner h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: #0d98ce;
}
.content-banner h1 {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
}
.content-banner p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

/* Services */
.services-general {
    display: flex;
    padding-bottom: 200px;
}
.services-about {
    padding-top: 50px;
    flex: 0 0 25%;
}
.services-about h3 {
    font-size: 16px;
    color: #10417c;
}
.services-about h2,
.services-about p {
    margin-bottom: 25px;
}
.services-about h2 {
    font-size: 23px;
    font-weight: 700;
}
.budget {
    padding-top: 16px;
    padding-bottom: 16px;
}

.services-itens {
    display: flex;
    padding-top: 60px;
}
.item-service {
   text-align: center;
   background-color:#fff;
   padding: 20px;
   border-radius: 4px;
   margin: 0px 15px;
   box-shadow: 0 15px 34px -10px rgba(0,0,0,.09);
}
.item-service h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.icon-service {
    display: flex;
    border-radius: 50%;
    background: rgba(0,0,0,.05);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/* Banner Articles */

.bannerarticles {
	background-color: #2db0ee;
}
.content-bannerarticles {
    height: 390px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-bannerarticles h2 {
	text-transform: uppercase;
	font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}
.content-bannerarticles h1 {
	font-size: 38px;
    color: #fff;
    max-width: 70%;
}

/* Posts */

.posts {
    padding-top: 70px;
}
.widget_body {
    display: flex;
    flex-wrap: wrap;
}
.widget_body .wrapper {
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 18px;
    
}
.widget_body article {
    flex:0 0 25%;
    padding-right: 20px;
}
.widget_body article a {
   text-decoration: none;
}
.widget_body article h3 {
    color: #a1adba;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.widget_body article h1 {
    color: #3e464f;
    margin-bottom: 110px;
	font-size: 16px;
}
.widget_body article h1:hover{
    color: #000;
}